.board {
  background-color: #E5E5E5;
  width: 100vw;
  height: 100vh;
}

.board-section {
  background-color: #E5E5E5;
}

.navbar-section{
  height: fit-content;
}

.analytics-section-top {
  padding-top: 87px;
  padding-left: 105px;
  width: 100vw;
}

.analytics-section {
  padding-top: 20px;
  padding-left: 105px;
  width: 100vw;
}

.chart-section{
  padding-top: 20px;
  padding-left: 105px;
  padding-right: 50px;
  width: 100vw;
}