.board {
  background-color: #E5E5E5;
  width: 100vw;
  height: 100vh;
}

.board-section {
  background-color: #E5E5E5;
}

.navbar-section{
  height: fit-content;
}

.analytics-section-top {
  padding-top: 87px;
  margin-left: 105px;
  width: 100vw;
}

.analytics-section {
  padding-top: 20px;
  margin-left: 105px;
  width: 100vw;
}