@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

.section{
  background-color: #E5E5E5
}

.section-title-text{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  height: 1.2em;

  display: flex;
  justify-content: flex-start;
  align-content: center;

  color: #333335;
}
